/* app css stylesheet */

body {
  padding-top: 10px;padding-left:10px; padding-right:10px; 
}



h1 {
  border-bottom: 1px solid gray;
}

hr {
  border-bottom: 1px solid gray;
}

#auto_hide_msg{
	padding:10px;background-color:#666666;color:#FFFFFF;
	width:300px;height:150px;
	display:block; 
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-75px;
}

.msg{
    font-size: 1.5em;
    line-height: 1.7;
}


input[disabled]
{
  color: #CCCCCC;
}

.to_top {
	float: right;/*在右*/             
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border: 1px solid silver;
           
    box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;

    top:1;/*最上*/             
    color: #3E3E3E;
    right: 0;
    position: fixed;
    text-align: left;
    width: 35%;
    z-index: 10000;
    _position:absolute; /* for IE6 */
    _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */
    overflow:visible;
}

.txt_left {
    text-align: left;
}

.txt_center {
    text-align: center;
}

.txt_right {
    text-align: right;
}




