<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂</title>
  
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="js/FRT_cashier.js"></script>
</head>
<body ng-app="dbApp" ng-controller="Ctrl">
  <h1>福润堂 <a href="cashier.html" style="float:right">返回</a>
     </h1> 
  <h2>门诊处方系统—收银—添加处方图片</h2> 
  <br/>
      
  <div style="float:left;width:70%;height=100%;">
    <h3>病历文件列表： 
    <span style="float:right;" ><button ng-click="save_img()"  > 保存添加的图片 </button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    </h3>
    <table>
      <tr ng-repeat="name in new_filenames " >
          <td> {{name}} {{name_array[name]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>     
          <td ng-click="show_img(name)">{{img_array[name]}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>  <input type="file" id="id_{{name}}" >        </td>
         <br>
      </tr>
    </table>
  </div>

  <span ng-show="show_img_flag" style="width:400px;height:600px;"  class="to_bottom">
    <button ng-click="go_hide_img()" > 隐藏图片</button>或者等待5秒自动隐藏。<br><br>
    <img src="{{temp_img_path}}"  >
  </span>

  <span  > <span ng-repeat="txt in message" class='msg'>{{txt}}<br></span> </span>
    
<script type="text/javascript">

var dbApp = angular.module('dbApp', []);

function Ctrl($scope) {
  $scope.message = ["......"];
  var run_msg = "";
  var run_flag = false;

  // 检查特定目录和文件是否存在
  var evnPath = "./";
  run_flag = true;
  

  $scope.img_array = [];
  $scope.name_array = [];
  $scope.json_array = [];
  
  $scope.temp_img_path = "new_photos/2015-1-30_1_07620 杨怡艳.jpg";
  $scope.show_img_flag = false;

  if( run_flag ){
    // 读入目录下全部 JSon 文件 。
    var basePath = "";
    var files = fs.readdirSync( evnPath + "data/recipe");
    var jsonFiles = [];
    // 筛选出 JSon 文件
    files.forEach(function(fileName, index) {
      if( ".json" === path.extname(fileName) && !(fileName.indexOf(".") === 0) ){
        jsonFiles.push(fileName);
        //console.log( fileName );

        // 从文件中取出img信息
        var file_json = readFileToJson( "data/recipe/" + fileName );
        $scope.json_array[fileName] = file_json; 
        $scope.name_array[fileName] = file_json.case.patient_name; 
        
        if( file_json.case.images ){
          $scope.img_array[fileName] = file_json.case.images[0];
        }else{
          file_json.case.images = [];
          file_json.case.images[0] = "";
          $scope.img_array[fileName] = "";
        }

      }
      //console.log( fileName );

    });
    $scope.new_filenames = jsonFiles;
  }
  

  $scope.save_img = function() {
    $scope.new_filenames.forEach(function(fileName, index) {
      
      // 修改json文件。
      var temp_recipe = $scope.json_array[fileName];
      // 构造图片文件的文件名   2014-9-18_36_7699 王新荣.jpg
      var img_filename = temp_recipe.case.case_no + "_" + temp_recipe.case.patient_no +
                         " " + temp_recipe.case.patient_name + ".jpg";
      //console.log(img_filename);
      temp_recipe.case.images[0] = img_filename;
      // 把修改过的内容写入文件
      writeJsonToFile( "data/recipe/" + fileName, temp_recipe );

      // copy处方图片   
      var file_input = document.getElementById( "id_"+ fileName );
      var file_fullpath = file_input.value;
      
      if(file_fullpath){
        
        var cmd_str = '';
        if( "win32" === process.platform ){
          cmd_str = 'copy "' + file_fullpath + '" "./new_photos/' + img_filename + '"'; 
        }else{
          cmd_str = 'cp "' + file_fullpath + '" "./new_photos/' + img_filename + '"'; 
        }
        
        console.log(cmd_str);

        child_process.exec(cmd_str ,
          function (error, stdout, stderr) {
            if (error !== null) {
              console.log('exec error: ' + error);
            }
            console.log('stdout: ' + stdout);
            
        });
        $scope.message.push( fileName + "保存成功。" );
      }
    });
    
    $scope.message.push( "全部保存完成。5秒后自动刷新页面。");
    setTimeout(function(){
      location.reload(true);
    },5000);
    
  };

  

  $scope.go_hide_img = function() {
      $scope.show_img_flag = false;
  };
  
  $scope.show_img = function(filename) {
    console.log( "filename : " + filename );

    $scope.temp_img_path = "new_photos/" + $scope.img_array[filename];
    console.log($scope.temp_img_path);
    $scope.show_img_flag = true;

    setTimeout(function(){
      //alert();
      $scope.show_img_flag = false;
      $scope.$apply();
    },5000);
  };
 
}

</script>
</body>
</html>




