<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 收银</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="js/FRT_cashier.js"></script>
  <style type="text/css">
    input.ng-invalid.ng-dirty, input.ng-invalid.ng-invalid {
      background-color: yellow;
    }
  </style>
  
</head>
<body ng-app="inputApp" ng-controller="Ctrl">
  <span id='debug_area' style='display:none;'> 开发人员专用区域，按  `  键(ESC键下面那个键)，就可隐藏。  
    
    <input type="button" id="id_fill" value=" 测试: 填充数据 " ng-click="test_fill()"  />
  </span>

  <h1 style="">福润堂</h1> 
  <h2>收银</h2>
  <br>
  <!--
  <div>
    病历号:   <input  type="text"   ng-model="fields.patient_no"   style="width:100px"  required ng-trim="true" />
    姓名:     <input  type="text"   ng-model="fields.patient_name" style="width:60px"   /> 
    性别:     <input  type="text"       ng-model="newdata.case.sex"     style="width:20px"    />
    年龄:     <input  type="number"     ng-model="newdata.case.age"     style="width:30px"    />
  </div>
-->
  <h3>门诊号：<input  type="text"  id="id_case_no"  ng-model="data.case.case_no"  ng-blur="go_case_no()" style="width:150px"  readonly />
    <input type="button" ng-click="go_showBooking()"  value=" 选取 ">
    <input type="button" ng-click="go_xiaofangzi()"  value=" 小方子 ">
    </h3>
    <table  border="1" ="" ng-hide="flag_hideBooking">
      <tr>
        <th style="width:55px;">预约编号</th>
        <th style="width:120px;">门诊号</th>
        <th style="width:65px;">病历号</th>
        <th style="width:100px;">姓名</th>
        <th style="width:100px;">备注</th>
        <th style="width:50px;"></th>
      </tr>
      <tr ng-repeat="obj in bookinglist.bookinglist | filter: filter_blank "  >
        <td align="center"  >  {{obj.index}}</td>
        <td>{{obj.case_no}}</td>
        <td>{{obj.patient_no}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.remark}}</td>
        <td><input type="button" ng-click="go_select( obj )" value=" 选择 ">  </td>
        
      </tr>
      <tr>
        <td colspan="6">
          日期选择： <input type="date" name="i_date" ng-model="selected_date" ng-change="go_showBooking()"  />
        </td>
      </tr>
    </table> 
  
  <table border="0"><tr>   
    <td> 
      <h3 >   处方：    
        <table border="1" width="500">
          <tr><td></td><td>药名</td><td>用量</td><td>单位</td><td>单价</td><td>小计</td><td></td></tr>  

          <tr ng-repeat="obj in data.case.recipe">
            <td>&nbsp; {{$index+1}} &nbsp; </td>
            <td>{{obj.medicine_name}}</td>
            <td>{{obj.count}}</td>
            <td>{{obj.unit}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.xiaoji}}</td>
            <td><input type="button" ng-click="goDel( $index )"  value=" 删除 "> </td>
          </tr>
         
        </table>
        <br>
        <div ng-hide="finished">
        助记码：<input  type="text"  id="id_0"   ng-model="zjm"  ng-change="go_zjm()"   style="width:35px" />
          
        药品名称：
          <input  type="text" ng-model="fields.medicine_name" style="width:80px" readonly >

          药品用量：<input  type="number"  id="id_1"   ng-model="fields.count"    style="width:35px"  ng-trim="true" />&nbsp;克&nbsp;
        <input type="button" id="id_2" value=" 保存 & 下一个 "   ng-click="save()"   />
       </div>
       </h3>
       <table width="100%" border="" >
          <tr ng-repeat="medi in allMedicine| filter:condition_zjm | limitTo:5 ">
            <td>{{medi.short_name}}</td>
            <td>{{medi.medicine_name}}</td>
            <td>{{medi.price}}</td>
            <td><input type="button" ng-click="go_set( medi )"  value=" 选择 "></td>
          </tr>
        </table>
        <br>
        <h2 style="line-height:200%;">
          单付价格：{{data.suitprice}}<br>
          抓药数量(付数)：<input  type="number" value="0" id="id_suitcount" onclick="go_selected(this)" 
          ng-change="go_suitcountChange()" ng-model="data.case.suitcount"     ng-readonly="finished"   required 
          style="width:75px" />
          <input type="button" value=" 计价 "   ng-click="go_calc()"   />
          
          </h2>
      </td>
    <td width="5%">&nbsp;&nbsp;&nbsp;</td>    
    <td width="35%" style="vertical-align:text-top;">
      <h2 style="line-height:200%;">
        
        总价：{{data.case.sumprice}}
        
        <br>
        支付方式： <input type="radio" name="pay_type" ng-model="data.case.pay_type"  value="vip_card"> 会员卡 
        <input type="radio" name="pay_type" ng-model="data.case.pay_type"  value="cash" checked > 现金 
        <br>
        收入金额： 
        <input type="number" id="id_shouru"   ng-model="data.case.shouru" ng-readonly="finished" 
        onclick="go_selected(this)" style="width:80px" /><br>
        
        找零金额： {{ data.case.zhaoling = (data.case.shouru-data.case.sumprice).toFixed(1)}} </h2><br>

        
        <input type="button" value=" 打印 "   ng-click="go_print()"   />
        <input type="button" value=" 清除 "   ng-click="go_clear()"   />
        
        
    </td>
  </tr>
</table>

<script type="text/javascript">
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope, $http) {
    

    $scope.dummy = "will";
    $scope.zjm = "";
    
    $scope.data = {};
    $scope.fields = {};
    $scope.data.patient = {};
    $scope.data.case = {};
    $scope.data.case.recipe = [];
    
    $scope.data.case.suitprice = 0;
    $scope.data.case.suitcount = 0;
    $scope.data.case.sumprice = 0;
    $scope.data.case.finished = false;
    $scope.data.case.shouru = 0;
    $scope.data.case.zhaoling = 0;
    $scope.data.case.pay_type = "cash";

    $scope.bookinglist = null;
    $scope.flag_hideBooking = true;
    $scope.selected_date = new Date();

    var tempObj = {"medicine_name":"药材","count":"1","unit":"克","price":"0.0","xiaoji":"0.0"};

    $scope.save = function(){
      // 检查输入是否正确
      if( isblank($scope.fields.medicine_name) ){
        alert("请输入药品名称");
        obj = document.getElementById( 'id_0' );
        obj.focus();
        return false;
      }
      else if( isblank($scope.fields.count) ){
        alert("请输入药品数量");
        obj = document.getElementById( 'id_1' );
        obj.focus();
        obj.select();
        return false;
      }
      else if( $scope.fields.count <= 0 ){
        alert("药品数量应该大于0");
        obj = document.getElementById( 'id_1' );
        obj.focus();
        obj.select();
        return false;
      }
      

      var oneObj = {};
      oneObj.medicine_name = $scope.fields.medicine_name;
      oneObj.count = $scope.fields.count;
      oneObj.unit = "克";
      oneObj.price = "";
      //oneObj.xiaoji = "";
      //oneObj.xiaoji = oneObj.price * oneObj.count;
      $scope.data.case.recipe.push(oneObj);

      $scope.fields.medicine_name = "";
      $scope.fields.count = "";

      $scope.go_calc();

      $scope.zjm = "";
      var obj = document.getElementById( 'id_0' );
      obj.focus();
      obj.select();
    };

    // 计算药价
    $scope.go_calc = function(){ 

      // 检查输入是否正确
      if( $scope.data.case.recipe.length === 0 ){
        alert("请首先录入药品");
        obj = document.getElementById( 'id_0' );
        obj.focus();
        return false;
      }
      else if( isblank($scope.data.case.suitcount) ){
        console.log("abc:"+$scope.data.case.suitcount);
        alert("请输入抓药数量");
        obj = document.getElementById( 'id_suitcount' );
        obj.focus();
        obj.select();
        return false;
      }
      

      //$scope.data.case.suitprice = 0;
      var temp_suitprice = 0;
      for( var i=0; i<$scope.data.case.recipe.length; i++){
        var item = $scope.data.case.recipe[i];
        var name = item.medicine_name;
        var tempObj = _.findWhere($scope.allMedicine, {medicine_name: name});
        //console.log(tempObj);
        item.price = tempObj.price;
        item.xiaoji = (item.price * item.count).toFixed(2);  // 保留两位小数
        temp_suitprice = parseFloat(temp_suitprice) + parseFloat(item.xiaoji) ;
        console.log("calc " + item.xiaoji );
      }
      $scope.data.case.suitprice = (Math.ceil(temp_suitprice*10)/10).toFixed(2);
      console.log("calc " + $scope.data.case.suitprice);
      
      $scope.data.case.sumprice = ($scope.data.case.suitprice * $scope.data.case.suitcount).toFixed(2);
      console.log("calc finished" + $scope.data.case.sumprice);
    };

    $scope.goDel = function( index ){
      $scope.data.case.recipe[index] = null;
      $scope.data.case.recipe = _.compact($scope.data.case.recipe);
    };

    

    $scope.go_save = function(){
      
      
        var case_no = $scope.data.case.case_no;
        var aStr = JSON.stringify($scope.data);
        console.log( "$scope.datas = ###" + aStr + "###" );
        // Write a file:
        fs.writeFileSync( "./data/recipe/c" + case_no + ".json", aStr);
        return true;
      
    };

    $scope.go_print = function(){
      if( isblank($scope.data.case.case_no) ){
        alert("请输入门诊号");
        obj = document.getElementById( 'id_case_no' );
        obj.focus();
        obj.select();
        return false;
      }else if( isblank($scope.data.case.pay_type) ){
        alert("请选择付款方式");
        
        return false;
      }
      else if( $scope.data.suitcount <= 0 ){
        alert("药品数量应该大于0");
        obj = document.getElementById( 'id_suitcount' );
        obj.focus();
        obj.select();
        return false;
      }

      if( $scope.data.case.finished === false ){
        $scope.data.case.finished = true;
        if( $scope.go_save() ){
          console.log("Save recipe successful.");
        }else{
          console.log("Error on Save recipe.");
          return false;
        }
      }
      window.open("print_recipe.html?c" + $scope.data.case.case_no, "Print",
                   "width=300,height=600,location=no,directories=no,menubar=no,resizable=no,toolbar=no");
          
      $scope.go_clear(); 
    };

    
    $scope.go_clear = function(){
      $scope.data = {};
      $scope.data.patient = {};
      $scope.data.case = {};

      $scope.data.case.recipe = [];
      $scope.data.case.suitprice = 0;
      $scope.data.case.suitcount = 0;
      $scope.data.case.sumprice = 0;
      $scope.data.case.finished = false;
      $scope.data.case.shouru = 0;
      $scope.data.case.zhaoling = 0;
      $scope.data.case.pay_type = "cash";

      $scope.zjm = "";
    };

    $scope.go_set = function(med){
      $scope.fields.medicine_name = med.medicine_name;
      var elem = document.getElementById( 'id_1' );
      elem.focus();
    };

    $scope.go_case_no = function(){
      
      var case_no = $scope.data.case.case_no;

      var filename = "./data/recipe/c" + case_no + ".json";
      console.log( filename );
      if( fs.existsSync( filename) ){
        $scope.data = readFileToJson(filename);
        //console.log($scope.data);

        if( $scope.data.case ){
          if( $scope.data.case.finished ){
            $scope.finished = $scope.data.case.finished;
          }else{     
            $scope.data.case.finished=false;
          }
        }
        
        
      }
      else{
        console.log( filename + " not exists.");
        $scope.go_clear(); 
        $scope.data.case.case_no = case_no;
      }
    };


    $scope.go_zjm = function(){
      
      var str_zjm = $scope.zjm;

      var temp_array = _.filter($scope.allMedicine, $scope.condition_zjm);
      if( temp_array.length > 0 ){
        //console.log(temp_array[0].medicine_name);
        $scope.fields.medicine_name = temp_array[0].medicine_name;
        //$scope.zjm = "";
      }
      //console.log(temp_array);
    };

    $scope.go_suitcountChange = function(){
      if( $scope.data.suitcount <= 0 ){
          //console.log("def:"+$scope.data.suitcount);
          alert("抓药数量应该大于0");
          $scope.data.suitcount = 0;
          obj = document.getElementById( 'id_suitcount' );
          obj.focus();
          obj.select();
          return false;
        }
    };

    $scope.condition_zjm = function(value){
      var str_a = value.short_name.toUpperCase();
      //console.log(typeof($scope.zjm));
      var str_b = $scope.zjm.toUpperCase();
      if(str_b === ""){
        return false;
      }
      else if(str_a.indexOf(str_b)===0 ){
        return true;
      }
      else{
        return false;
      }
    };

    // 显示预约表格
    $scope.go_showBooking =function(){
      var filename = getBookingFilename($scope.selected_date);
      console.log(filename);
      
      $http.get('http://192.168.1.100:8080/getBooking?filename=' + filename)
      .success(function(data) {
        //console.log(data);
        $scope.bookinglist = data;
        $scope.flag_hideBooking = false;
      })
      .error(function(data, status, headers, config) {
        console.log(data);
      });
    };

    // 增加一个小方子
    $scope.go_xiaofangzi =function(){
      var d = new Date();
      var temp_no = "xfz" + d.getFullYear() +"-"+ (d.getMonth() + 1 ) +"-"+  d.getDate() +"_"+ d.getHours() +"_"+ d.getMinutes() +"_"+ d.getSeconds();


      $scope.data.case.case_no = temp_no;
      $scope.go_case_no();
      
      $scope.data.case.patient_no = "4";
      $scope.data.case.patient_name = "小方子";
      $scope.data.case.mobile = "10000000000";
      $scope.data.case.patient_comment = "";
      $scope.data.case.sex = "男";
      $scope.data.case.age = "0";
      $scope.data.case.comment = "";
      $scope.data.case.suitnum = "1";

      $scope.flag_hideBooking = true;
    };

    $scope.filter_blank = function(e){
      return  !(e.patient_no === "0" && e.name === "");
    };

    $scope.go_select = function ( obj ){
      // 要先执行load 数据的函数，否则将无法更新数据
      $scope.data.case.case_no = obj.case_no;
      $scope.go_case_no();
      
      $scope.data.case.patient_no = obj.patient_no;
      console.log(obj.name);
      $scope.data.case.patient_name = obj.name;
      $scope.data.case.mobile = obj.mobile;
      
      if(obj.remark===null){
        $scope.data.case.patient_comment = "";
      }else{
        $scope.data.case.patient_comment = obj.remark;  
      }
      
      $scope.data.case.sex = obj.sex;
      $scope.data.case.age = obj.age;
      $scope.data.case.comment = obj.comment;
      $scope.data.case.suitnum = obj.suitnum;

      if(obj.doctor_name===null){
        $scope.data.case.doctor_name = "";
      }else{
        $scope.data.case.doctor_name = obj.doctor_name;  
      }

      $scope.flag_hideBooking = true;

            
    };

    $scope.getAllMedicine = function(){
      var  Medicine_json = readFileToJson("./data/allMedicine.json");
      //console.log(Medicine_json);
      return Medicine_json;
    };

    // 读入所有 药物 信息
    $scope.allMedicine = $scope.getAllMedicine();
    //console.log(" len:" + $scope.allMedicine.length);
    //console.log($scope.allMedicine[0]);


    $scope.medicine_list = [];
    for( var i=0; i<$scope.allMedicine.length; i++ ){
      var obj = $scope.allMedicine[i];
      medic = {};
      medic.key = obj.medicine_name;
      medic.value = obj.short_name + "-" + obj.medicine_name;
      //console.log(typeof(medic));
      $scope.medicine_list.push(medic);
    }
    //console.log($scope.medicine_list);

    $scope.test_fill = function(){

      $scope.data.case.recipe[0] = _.clone($scope.allMedicine[10]);
      $scope.data.case.recipe[0].count = 7;
      $scope.data.case.recipe[0].unit = "克";
      $scope.data.case.recipe[0].price = "";

      $scope.data.case.recipe[1] = _.clone($scope.allMedicine[11]);
      $scope.data.case.recipe[1].count = 9;
      $scope.data.case.recipe[1].unit = "克";
      $scope.data.case.recipe[1].price = "";

      $scope.data.case.recipe[2] = _.clone($scope.allMedicine[13]);
      $scope.data.case.recipe[2].count = 11;
      $scope.data.case.recipe[2].unit = "克";
      $scope.data.case.recipe[2].price = "";
      
      $scope.data.case.suitcount = 3;
    };
  }



  var go_selected = function( tempobj ){
    tempobj.select();
  };
  
  var obj = document.getElementById( 'id_0' );
  obj.focus();

  debug_flag = 0;

  

  </script>
</body>
</html>




