<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 收银</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="js/FRT_cashier.js"></script>
  <style type="text/css">
    input.ng-invalid.ng-dirty, input.ng-invalid.ng-invalid {
      background-color: yellow;
    }
  </style>
  
</head>
<body ng-app="inputApp" ng-controller="Ctrl">
  <span id='debug_area' style='display:none;'> 开发人员专用区域，按  `  键(ESC键下面那个键)，就可隐藏。  
    
    <input type="button" id="id_fill" value=" 测试: 填充数据 " ng-click="test_fill()"  />
  </span>

  <h1 style="">福润堂</h1> 
  <h2>收银</h2>
  <br>
  <!--
  <div>
    病历号:   <input  type="text" id="id_0"  ng-model="fields.patient_no"   style="width:100px"  required ng-trim="true" />
    姓名:     <input  type="text" id="id_2"  ng-model="fields.patient_name" style="width:60px"   /> 
    性别:     <input  type="text"    id="id_3"   ng-model="newdata.case.sex"     style="width:20px"    />
    年龄:     <input  type="number"  id="id_4"   ng-model="newdata.case.age"     style="width:30px"    />
  </div>
-->
  门诊号：<input  type="text"  id="id_case_no"  ng-model="data.case_no"   style="width:100px"  required ng-trim="true" />
  <table border="1"><tr>   
    <td> 
      <div >   处方：    
        <table border="1" width="500">
          <tr><td></td><td>药名</td><td>用量</td><td>单位</td><td>单价</td><td>小计</td><td></td></tr>  

          <tr ng-repeat="obj in data.recipe.items">
            <td>&nbsp; {{$index+1}} &nbsp; </td>
            <td>{{obj.medicine_name}}</td>
            <td>{{obj.count}}</td>
            <td>{{obj.unit}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.xiaoji}}</td>
            <td><input type="button" ng-click="goDel( $index )" ng-hide="datas.isUpload" value=" 删除 "> </td>
          </tr>
         
        </table>
        <br>
        助记码：<input  type="text"  id="id_0"   ng-model="zjm"  ng-blur="go_zjm()"   style="width:35px" />
          
        药品名称：
          <input  type="text" ng-model="fields.medicine_name" style="width:80px" readonly >

          药品用量：<input  type="number"  id="id_1"   ng-model="fields.count"    style="width:35px"  ng-trim="true" />&nbsp;克&nbsp;
        <input type="button" id="id_2" value=" 保存 & 下一个 "   ng-click="save()"   />
      </div>
       <table width="100%" border="">
          <tr ng-repeat="medi in allMedicine| filter:condition_zjm | limitTo:5 ">
            <td>{{medi.short_name}}</td>
            <td>{{medi.medicine_name}}</td>
            <td>{{medi.price}}</td>
            
          </tr>
        </table>
      抓药数量(付数)：<input  type="text"  id="id_suitcount"   ng-model="data.suitcount"      style="width:75px"    required  ng-trim="true" />
      <input type="button" value=" 计价 "   ng-click="go_calc()"   />
        
      </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>    
    <td >
      <h2>
      单付价格：{{data.suitprice}}
        
        <br><br>
        总价：{{data.sumprice}}
        <br><br>
        <input type="button" value=" 打印 & 结帐 "   ng-click="go_save()"   />
        <input type="button" value=" 撤销 & 清除 "   ng-click="go_clear()"   />
        </h2>
        
    </td>
  </tr>
</table>
  
<script type="text/javascript">
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {
    

    $scope.dummy = "will";
    $scope.zjm = "";
    
    $scope.data = {};
    $scope.fields = {};
    $scope.data.patient = {};
    $scope.data.recipe = {};
    $scope.data.recipe.items = [];

    $scope.data.suitprice = 0;
    $scope.data.suitcount = "";
    $scope.data.sumprice = 0;

    var tempObj = {"medicine_name":"药材","count":"1","unit":"克","price":"0.0","xiaoji":"0.0"}

    $scope.save = function(){
      // 检查输入是否正确
      if( isblank($scope.fields.medicine_name) ){
        alert("请输入药品名称");
        obj = document.getElementById( 'id_0' );
        obj.focus();
        return false;
      }
      if( isblank($scope.fields.count) ){
        alert("请输入药品数量");
        obj = document.getElementById( 'id_1' );
        obj.focus();
        obj.select();
        return false;
      }
      else if( $scope.fields.count <= 0 ){
        alert("药品数量应该大于0");
        obj = document.getElementById( 'id_1' );
        obj.focus();
        obj.select();
        return false;
      }
      

      var oneObj = _.clone(tempObj);
      oneObj.medicine_name = $scope.fields.medicine_name;
      oneObj.count = $scope.fields.count;
      oneObj.unit = "克";
      oneObj.price = "";
      oneObj.xiaoji = "";
      //oneObj.xiaoji = oneObj.price * oneObj.count;
      $scope.data.recipe.items.push(oneObj);

      $scope.fields.medicine_name = "";
      $scope.fields.count = "";

      obj = document.getElementById( 'id_0' );
      obj.focus();
      //obj.select();
    }

    // 计算药价
    $scope.go_calc = function(){ 
      // 检查输入是否正确
      if( $scope.data.recipe.items.length === 0 ){
        alert("请首先录入药品");
        obj = document.getElementById( 'id_0' );
        obj.focus();
        return false;
      }
      if( isblank($scope.data.suitcount) ){
        alert("请输入抓药数量");
        obj = document.getElementById( 'id_suitcount' );
        obj.focus();
        obj.select();
        return false;
      }
      else if( $scope.data.suitcount <= 0 ){
        alert("抓药数量应该大于0");
        obj = document.getElementById( 'id_suitcount' );
        obj.focus();
        obj.select();
        return false;
      }

      $scope.data.suitprice = 0;
      for( var i=0; i<$scope.data.recipe.items.length; i++){
        var item = $scope.data.recipe.items[i];
        var name = item.medicine_name
        var tempObj = _.findWhere($scope.allMedicine, {medicine_name: name});
        //console.log(tempObj);
        item.price = tempObj.price;
        item.xiaoji = (item.price * item.count).toFixed(2);  // 保留两位小数
        $scope.data.suitprice = parseFloat($scope.data.suitprice) + parseFloat(item.xiaoji) ;
      }

      $scope.data.suitprice = $scope.data.suitprice.toFixed(2);
      
      $scope.data.sumprice = ($scope.data.suitprice * $scope.data.suitcount).toFixed(2);
      
    }

    $scope.goDel = function( index ){
      $scope.data.recipe.items[index] = null;
      $scope.data.recipe.items = _.compact($scope.data.recipe.items) 
    };

    $scope.go_save = function(){
      
      if( isblank($scope.data.case_no) ){
        alert("请输入门诊号");
        obj = document.getElementById( 'id_case_no' );
        obj.focus();
        obj.select();
        return false;
      }else{
        var strFileName = $scope.data.case_no;
        var aStr = JSON.stringify($scope.data);
         console.log( "$scope.datas = ###" + aStr + "###" );
        // Write a file:
        fs.writeFileSync( "data/" + strFileName + ".json", aStr);
        window.print();
      }
    };
    
    $scope.go_clear = function(){
      $scope.data.recipe.items = [];
      $scope.data.suitprice = 0;
      $scope.data.sumprice = 0;
    };

    $scope.go_zjm = function(){
      
      var str_zjm = $scope.zjm;

      var temp_array = _.filter($scope.allMedicine, $scope.condition_zjm);
      if( temp_array.length > 0 ){
        console.log(temp_array[0].medicine_name);
        $scope.fields.medicine_name = temp_array[0].medicine_name;
        $scope.zjm = "";
      }
      console.log(temp_array);
    };

    $scope.condition_zjm = function(value){
      var str_a = value.short_name.toUpperCase();
      //console.log(typeof($scope.zjm));
      var str_b = $scope.zjm.toUpperCase();
      if(str_b == ""){
        return false;
      }
      else if(str_a.indexOf(str_b)==0 ){
        return true;
      }
      else{
        return false;
      }
    };

    $scope.getAllMedicine = function(){
      var  Medicine_json = readFileToJson("./data/allMedicine.json");
      //console.log(Medicine_json);
      return Medicine_json;
    };

    // 读入所有 药物 信息
    $scope.allMedicine = $scope.getAllMedicine();
    //console.log(" len:" + $scope.allMedicine.length);
    //console.log($scope.allMedicine[0]);

    $scope.medicine_list = [];
    for( var i=0; i<$scope.allMedicine.length; i++ ){
      var obj = $scope.allMedicine[i];
      medic = new Object();
      medic.key = obj.medicine_name;
      medic.value = obj.short_name + "-" + obj.medicine_name;
      //console.log(typeof(medic));
      $scope.medicine_list.push(medic);
    }
    //console.log($scope.medicine_list);

    $scope.test_fill = function(){

      $scope.data.recipe.items[0] = _.clone($scope.allMedicine[10]);
      $scope.data.recipe.items[0].count = 7;
      $scope.data.recipe.items[0].unit = "克"
      $scope.data.recipe.items[0].price = "";

      $scope.data.recipe.items[1] = _.clone($scope.allMedicine[11]);
      $scope.data.recipe.items[1].count = 9;
      $scope.data.recipe.items[1].unit = "克"
      $scope.data.recipe.items[1].price = "";

      $scope.data.recipe.items[2] = _.clone($scope.allMedicine[13]);
      $scope.data.recipe.items[2].count = 11;
      $scope.data.recipe.items[2].unit = "克"
      $scope.data.recipe.items[2].price = "";
      
      $scope.data.suitcount = 3;
    };
  }
  
  var obj = document.getElementById( 'id_0' );
  obj.focus();

  debug_flag = 0;

  

  </script>
</body>
</html>




