<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>福润堂 药品编辑</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="js/FRT_cashier.js"></script>
  <style type="text/css">
    input.ng-invalid.ng-dirty, input.ng-invalid.ng-invalid {
      background-color: yellow;
    }
  </style>
  
</head>
<body ng-app="inputApp" ng-controller="Ctrl">
  <span id='debug_area' style='display:none;'> 开发人员专用区域，按  `  键(ESC键下面那个键)，就可隐藏。  
    
    <input type="button" id="id_fill" value=" 测试: 填充数据 " ng-click="test_fill()"  />
  </span>

  <h1 style="">福润堂</h1> 
  <h2>药品编辑</h2>
  <div style="float:left;width:55%;">
    搜索：<input  type="text"    ng-model="key_word"  style="width:200px" />
    <input  type="button"      value=" 新 增 药 品 " ng-click="go_new()"  style="float:right;" />
        <table width="100%" border="">
          <tr><th>助记码</th><th>药品名称</th><th>单价</th><th></th></tr>
          <tr ng-repeat="medi in allMedicine| filter:key_word | limitTo:10 ">
            <td>{{medi.short_name}}</td>
            <td>{{medi.medicine_name}}</td>
            <td>{{medi.price}}</td>
            <td><input type="button" ng-click="go_edit( medi )"  value=" 编辑 "></td>
          </tr>
        </table>
        <br>
        <h3 ng-show="data_darty" style="color:red;"> 药品价格已修改，离开本页面前，请点击后面按钮更新价格。 </h3>
        <h3 ng-show="start_export" style="color:blue;"> 开始生成新价目表，请等待。 </h3>
        <h3 ng-show="data_reload" style="color:blue;"> 新价目表已经生成。请刷新页面。 </h3>
        <input type="button" ng-click="go_export()"  value=" 生成新价目表 ">
      </div>
<div class='to_top' style="width:40%;" ng-show="edit_area" >
    <h3 style="">编辑药品信息</h3>
    
    名 称 :      <input  type="text" id="id_1"  ng-model="fields.medicine_name"  required /> <br/>
    助 记 码 :   <input  type="text" id="id_2"  ng-model="fields.short_name"  required /> <br/>
    单价:(元/克) <input  type="number" id="id_3"  ng-model="fields.price" required/> <br/>
    
    <input type="button" value=" 保 存 "  ng-click="save_medicine()"  /> 
    <input type="button" value=" 取 消 "  ng-click="hideEdit()" style="float:right;" />
</div>
  
<script type="text/javascript">
  
  var inputApp = angular.module('inputApp', []);

  function Ctrl($scope) {

    $scope.dummy = "will";
    $scope.key_word = "";
    $scope.edit_area = false;
    $scope.data_darty = false;
    $scope.data_reload = false;
    $scope.start_export = false;
    
    
    $scope.fields = {};
    $scope.fields.id = "";
    $scope.fields.medicine_name = "";
    $scope.fields.short_name = "";
    $scope.fields.price = "";
    
    var tempObj = {"medicine_name":"","short_name":"1","price":"0.0"};

    $scope.save_medicine = function(){
      // 检查输入是否正确
      if( isblank($scope.fields.medicine_name) ){
        alert("请输入药品名称");
        obj = document.getElementById( 'id_1' );
        obj.focus();
        obj.select();
        return false;
      }
      if( isblank($scope.fields.short_name) ){
        alert("请输入助记码");
        obj = document.getElementById( 'id_2' );
        obj.focus();
        obj.select();
        return false;
      }
      else if( isblank($scope.fields.price)  ){
        alert("请输入单价");
        obj = document.getElementById( 'id_3' );
        obj.focus();
        obj.select();
        return false;
      }

      $scope.data_darty = true;
      // 开始操作数据库

      var insertSQL = 'insert into t_medicine(medicine_name, short_name, price ) values(?,?,?)';
      var updateSQL = 'update t_medicine set medicine_name=?, short_name=?, price=? where id=?';

      var mysql = require('mysql');
      var conn = getConn();
      conn.connect();

      if( isblank($scope.fields.id) ){
          var param1 = [];
          param1.push($scope.fields.medicine_name);
          param1.push($scope.fields.short_name);
          param1.push($scope.fields.price);

          conn.query(insertSQL,param1, function (err1, res1) {
            if (err1) console.log(err1);
              console.log("INSERT Return ==> ");
              console.log(res1);
          });
      }else{
          var param2 = [];
          param2.push($scope.fields.medicine_name);
          param2.push($scope.fields.short_name);
          param2.push($scope.fields.price);
          param2.push($scope.fields.id);

          conn.query(updateSQL,param2, function (err1, res1) {
            if (err1) console.log(err1);
              console.log("INSERT Return ==> ");
              console.log(res1);
          });
      }
      
      conn.end();
    };

    $scope.go_export = function(){
      $scope.start_export = true;
      var Medicine_json = "";
      var conn = getConn();
      conn.connect();
      conn.query('SELECT * from t_medicine order by short_name ', function(err, rows, fields) {
          if (err) throw err;
          
          Medicine_json = JSON.stringify(rows) ;
          fs.writeFileSync( "data/allMedicine.json", Medicine_json );
          $scope.data_darty = false;
          $scope.data_reload = true;
          $scope.start_export = false;
          $scope.$apply();
          //console.log(Medicine_json);
      });
      conn.end();
      
    };

    $scope.go_edit = function(med){
      $scope.fields.id = med.id;
      $scope.fields.medicine_name = med.medicine_name;
      $scope.fields.short_name = med.short_name;
      $scope.fields.price = med.price;
      $scope.edit_area = true;
    };

    $scope.go_new = function(){
      $scope.fields.id = "";
      $scope.fields.medicine_name = "";
      $scope.fields.short_name = "";
      $scope.fields.price = "";
      $scope.edit_area = true;
    };

    $scope.hideEdit = function(){
      $scope.edit_area = false;
    };

    $scope.getAllMedicine = function(){
      var  Medicine_json = readFileToJson("./data/allMedicine.json");
      //console.log(Medicine_json);
      return Medicine_json;
    };

    // 读入所有 药物 信息
    $scope.allMedicine = $scope.getAllMedicine();


    $scope.test_fill = function(){

      $scope.data.recipe.items[0] = _.clone($scope.allMedicine[10]);
      $scope.data.recipe.items[0].count = 7;
      $scope.data.recipe.items[0].unit = "克";
      $scope.data.recipe.items[0].price = "";

      
      $scope.data.suitcount = 3;
    };
  }

  debug_flag = 0;

  var getConn = function(){
      var conn = mysql.createConnection({
          host: 'localhost',
          user: 'root',
          password: '',
          database:'frt',
          port: 3306
      });
      return conn;
  };

  </script>
</body>
</html>




